
.myAppointh1{
  text-align: center;
}
.field-icon {
  float: right;
  right: 0.4em;
  margin-top: -67px;
  position: relative;
  z-index: 2;

}
.field-icon-register{
  float: right;
  margin-left: -50em;
  margin-top:10px;
  position: relative;
  z-index: 2;
}
.sub{
  display: none; 
}
.header-warp .header-right .site-btn:hover{
  
  background-color: #1b1b1b;
  color: #e22b63;
}
.header-warp .header-right:hover .sub{
  display:block; 
  margin-left: 7px;
}
  

.header-warp .header-right:hover  .sub{
  display: block;
  background-color: #1b1b1b;
}
.header-warp .header-right:hover  .sub {
  list-style-type: none;
  width: 190px;
  border-radius: 0;
  background-color: #1b1b1b;
  text-align: left;
}
 .header-warp .header-right:hover .sub:last-child{
  border-bottom: none;
}
.header-warp .header-right:hover .sub li a{
	color: #e22b63;
	font-size: 17px;
	font-style: bold;
}
.header-warp .header-right:hover .sub li span{
	font-size: 30px;
	grid-auto-flow: left;
}
.header-warp .header-right:hover .sub li a:hover{
  color: white;
}
header{
	z-index: 1;
}

.header-warp .logo:hover  a h1{
	color: #e22b63;
}
.header-warp .logo:hover  a span{
	color: #e22b63;
}
a.fa {
  position: relative;
  display: block;
  height: 50px;
  width: 50px;
  color: white;
  background-size: contain;
  text-decoration: none;
}
a.fa:hover {
  position: relative;
  display: block;
  height: 50px;
  width: 50px;
  color:#e22b63;
  background-size: contain;
  text-decoration: none;
}

span.fa-circle {
  position: absolute;
  font-size: 0.8em;
  top: -0.5em;
  color: red;
  right: 0.4em;
}
span.num {
  position: absolute;
  font-size: 0.7em;
  top: -0.6em;
  color: #fff;
  right:0.7em;
}

.header-right1 {
	float: right;
	padding-top: 50px;
}
