button a{
  height: 3pc;
    border-radius: 10px;
    color: black;
    font-size: 22px;
    background-color: #e22b63;
}
.responstable {
  margin: 1em 0;
  width: 100%;
  overflow: hidden;
  background: #FFF;
  color: black;

}
.responstable tr {
  display: nome;
}
.responstable tr:nth-child(odd) {
  background-color: #EAF3F3;
}
.responstable th {
  display: none;
  border: 1px solid #FFF;
  background-color: #e22b63;
  color: #FFF;
  padding: 1em;
  font-weight: bold;
}
.responstable th:first-child {
  display: table-cell;
  text-align: center;

  font-weight: bold;
}
.responstable th:nth-child(2) {
  display: table-cell;
}
.responstable th:nth-child(2) span {
  display: none;
}
.responstable th:nth-child(2):after {
  content: attr(data-th);
}
.btn-appoint{
        text-align: center;
    }
    .btn-anchor{
        color: black;
        margin: auto;
        border-radius: 10px;
        display: inline-block;
	    text-align: center;
	    font-size: 16px;
	    color: black;
	    padding: 12px 1px;
	    min-width: 145px;
	    border: 2px solid #e22b63;
	    background: #e22b63;
        text-decoration: none;
    }
    .btn-anchor:hover{
        background-color: pink;
        text-decoration: none;
        color:black;
    }
@media (min-width: 480px) {
  .responstable th:nth-child(2) span {
    display: block;
  }
  .responstable th:nth-child(2):after {
    display: none;
  }
}
.responstable td {
  display: block;
  word-wrap: break-word;
  max-width: 7em;
}
.myAppointh1{
  text-align: center;
}
.responstable td:first-child {
  display: table-cell;
  text-align: center;
}
@media (min-width: 480px) {
  .responstable td {
    border: 1px solid #D9E4E6;
  }
}
.responstable th, .responstable td {
  text-align: left;
  margin: .5em 1em;
}
@media (min-width: 480px) {
  .responstable th, .responstable td {
    display: table-cell;
    padding: 1em;
  }
}
