.myAppointh1{
  text-align: center;
  font-size: 35px;
}
.logo2 {
  background: #1b1b1b;
  text-align: center;
  float: center;
  width: 100% auto;
}
.logo2 a{
  text-decoration: none;
}
.logo2 a h1 {
  color: #fff;
  font-size: 2.5em;
  line-height: 1em;
  font-weight: 750;
}
.logo2 a span {
  color: #F8F8F8;
  font-size: 1em;
  text-align: center;
  letter-spacing: 5px;
}
.modal-header .logo2:hover  a h1{
  color: #e22b63;
}
.modal-header .logo2:hover a span{
  color: #e22b63;
}
.main-menu li a, .logo a, .header-right a{
  text-decoration: none;
}
.reservationtag{
  display: none;
}
